body {
  background-color: black;
  font-family: Arial;
  color: white;
}

h1 {
  color:gray;
  font-family: Verdana;
  text-align: center;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 25px;
}

.mainform {
    width: 80%;
    margin: auto;
}

button, footer {
    margin-top: 10px;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}
